/* ce CSS est utilisé pour le formulaire de connexion et celui de modification du mdp */

main{
    background: radial-gradient(ellipse at center, rgb(255, 255, 255), rgb(145, 183, 221));
    font-family: normal;
}

a {
    text-decoration: none;   
    color: rgb(4, 32, 122);
    font-weight: bold;
}

#container{
    width:400px;
    margin:0 auto;    
    font-family: normal;
    font-weight: bold;
    padding: 7rem 0 5rem 0;
    /* margin-top:10%; */
}

#container form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

#container input[type=text], main input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#container input[type=submit] {
    background: linear-gradient(to top, rgba(160,196,231), rgb(188, 211, 240));
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius:10px;
    cursor: pointer;
    width: 100%;
}
#container input[type=submit]:hover {
    background-color: white;
    color: rgb(16, 1, 102);
    border: 1px solid rgb(16, 1, 102);
    font-weight: bold;
}

#container2{
    width:100%;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}

#inscrire a{
    text-decoration: none;   
    color: rgb(4, 32, 122);
}

#inscrire{
    font-size: 0.95em;
    font-weight: bold;
    padding-top: 10px;
}


/* Display pour modification utilisateur */
.d-none{
    display: none;
}
