.brand-title {
    font-size: 1rem;
    font-weight: bold;
    margin: .5rem;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: url("../images/nav.jpg");
    color: rgb(4, 32, 122);
    z-index: 100;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;    /* Pour prendre toute la largeur */                      /* (Ainsi ensuite quand 'hover' la couleur appliquée prendra l'espace du block */
    text-decoration: none;
    color: rgb(4, 32, 122);
    padding: 0.8rem;
}


.navbar-links li:hover {
    background-color: rgba(149, 169, 233,0.40);
}

.toggle-button {                                /* On positionne le burger et les espace entre les traits (span) */
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {                           /* On dessine le burger, trois traits */
    height: 3px;
    width: 100%;
    background-color: rgb(4, 32, 122);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;      /* Le burger apparait */
    }
    
    .navbar-links {
        display: none;      /* les liens disparaisent */
        width: 100%;        
    }
    
    .navbar-links.active {  /* Les liens apparaissent quand la classe existe (toggle js). Ce selecteur est supérieur à ".navbar-links". display : none devient flex */
        display: flex;
    }

    .navbar {
        flex-direction: column;     
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
}

